:root {
  --gcvin-back-top-tsx-right: 40px;
  --gcvin-back-top-tsx-bottom: 40px;
  --gcvin-back-top-tsx-button-size: 40px;
}

.gcvin-back-top-tsx {
  --van-button-primary-background: #07c160;
  --van-button-primary-border-color: #07c160;

  position: fixed;
  right: var(--gcvin-back-top-tsx-right);
  bottom: var(--gcvin-back-top-tsx-bottom);

  .van-button[gcvin-back-top-tsx] {
    width: var(--gcvin-back-top-tsx-button-size);
    height: var(--gcvin-back-top-tsx-button-size);
  }
}
