:root {
  --gcvin-editable-tsx-input-height: 24px;
  --gcvin-editable-tsx-font-size: 14px;
  --gcvin-editable-tsx-color: #67c23a;
}

.gcvin-editable-tsx {
  --el-font-size-base: var(--gcvin-editable-tsx-font-size);

  display: flex;
  font-size: var(--gcvin-editable-tsx-font-size);
  line-height: var(--gcvin-editable-tsx-input-height);
  color: var(--gcvin-editable-tsx-color);
  word-break: break-all;

  .el-input__wrapper {
    padding: 0;
    box-shadow: none;
  }

  .el-input__inner {
    --el-input-inner-height: var(--gcvin-editable-tsx-input-height);
  }
}
