:root {
  --cus-expand-collapse-color: #67c23a;
}

.cus-expand-collapse {
  .ellipsis {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }

  .action {
    color: var(--cus-expand-collapse-color);
    cursor: pointer;
  }
}
