:root {
  --gcvin-back-top-right: 40px;
  --gcvin-back-top-bottom: 40px;
  --gcvin-back-top-button-size: 40px;
}

.gcvin-back-top {
  --van-button-primary-background: #faab0c;
  --van-button-primary-border-color: #faab0c;

  position: fixed;
  right: var(--gcvin-back-top-right);
  bottom: var(--gcvin-back-top-bottom);

  .van-button[gcvin-back-top] {
    width: var(--gcvin-back-top-button-size);
    height: var(--gcvin-back-top-button-size);
  }
}
