:root {
  --cus-back-top-right: 40px;
  --cus-back-top-bottom: 40px;
  --cus-back-top-button-size: 40px;
}

.cus-back-top {
  --van-button-primary-background: #faab0c;
  --van-button-primary-border-color: #faab0c;

  position: fixed;
  right: var(--cus-back-top-right);
  bottom: var(--cus-back-top-bottom);

  .van-button[cus-back-top] {
    width: var(--cus-back-top-button-size);
    height: var(--cus-back-top-button-size);
  }
}
